.contenedor{
    background-image: url(./campa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
    margin: -1px -1px;
    margin-top: 1px;

}
body{
    margin: 0%;
    margin-top: -2px;
    padding: 0%;
}

.contenido{

    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    
}
.letras{
    line-height: 10%;
    margin-left: 5%;
}

.inicio{
    font-size: 0.8rem;
    color: white;
}
.titulo1{
    font-size: 2rem;
    color: white;
    
}
.titulo2{
    font-size: 2rem;
    color: yellow;
    
}
.buscar{
    display: flex;  
    flex-direction: row;  
    align-items: center;
    background-color: white;
    border-radius: 25px;
    color: black;
    margin-left: 5%;
    padding: 0.2rem 1rem;
    width: 80%;
}
input{
    border-radius: 30px;
    align-items: center;
    border: 0;
    padding: 0.5rem;
    width: 80%;

}
.tamaño{
    height: 24px;
    width: 24px;

}


.IMG2{
    margin-left: 70%;
    width: 40px;
    height: 40px;
    margin-top: 1px;
}
.img1{
    margin-left: 5%;
    margin-top: 1px;
}
